@media(max-width: 1200px){
    .container5{
        .foot_flex{
            position: relative;
            flex-wrap: wrap;
            .i1{
                margin-left: 1%;
            }
            .i2{
                margin: auto;
                position: relative;
                p{
                    padding-left: 0;
                }
            }
        }
        .foot_foter{
            flex-wrap: wrap;
            .itm1,
            .itm2,
            .itm3,
            .itm4{
                margin: 0 auto;
                padding: 0 8px;
            }
        }
    }
}
@media(max-width: 789px){
    .container5{
        .foot_flex{
            .i2{
                p{
                    display: inline-table;    
                    width: 50px;
                    margin-right: 35px;  
                }
            }
        }
        span{
            margin-top: 125px;
        }
    }
}
@media(max-width: 696px){
    .container1{
        .main{
            h1{
                font-size: 60px;
                left: 0;
            }
            .VULCAN_S{
                width: 318px;
                height: 225px;
                .stats{
                    width: 285px;
                    height: 226px;
                    left: 27%;
                    bottom: 3%;
                }
            }
        }
    }
}
@media(max-width: 610px){
    .container5{
        .foot_flex{
            .send_email{
                .form-control{
                    width: 255px;
                }
            }
        }
        .foot_foter{
            position: relative;
            .itm1{
                position: relative;
                margin: 0 auto;
            }
            .itm2{
                position: relative;
                margin: 0 auto;
            }
            .itm3{
                position: relative;
                margin: 0 auto;
            }
            .itm4{
                position: absolute;
                bottom: -80%;
                left: 30%;
            }
        }
        .afoot{
            p{
                padding-top: 285px;
            }
        }
    }
}